

	<!-- Preloader -->
	<!-- <div class="page-loader">
		<div class="loader">Loading...</div>
	</div> -->

	<!-- Navigation start -->
	<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top one-page" role="navigation">

		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#totop"><img src="<%= asset_url('tofuya-logo-black.png')%>">&nbsp;&nbsp;Tofu Ya</a>
			</div>

			<div class="collapse navbar-collapse" id="custom-collapse">
				<ul class="nav navbar-nav navbar-right">

					<li><a href="#totop">Home</a></li>
					<li class="dropdown">
						<a href="#menu" class="dropdown-toggle section-scroll" data-toggle="dropdown">Menu</a>
						<ul class="dropdown-menu">
							<% @categories.each do |category| %>
							<li><a href="#<%= category.name.parameterize %>" class="section-scroll"><%= category.name %></a></li>
							<% end %>
						</ul>
					</li>

					<li><a href="#contact" class="section-scroll">Contact</a></li>
					<li><a href="#map-section" class="section-scroll">Find us</a></li>
          <li><a onclick="_gaq.push(['_trackEvent', 'postmate', 'clicked'])"
              href="https://postmates.com/merchant/tofuya-los-angeles"
              class="section-scroll">
              On-Demand Delivery by <%= image_tag 'postmates-logo.png', class: 'postmate' %>
            </a>
          </li>
					<!-- <li><a onclick="_gaq.push(['_trackEvent', 'doordash', 'clicked'])"
								href="https://www.doordash.com/store/tofu-ya-los-angeles-3013/622/"
								class="section-scroll">
						Delivery by <%= image_tag 'doordash-logo-red@2x.png', class: 'doordash' %>
						</a></li> -->

				</ul>
			</div>

		</div>

	</nav>
	<!-- Navigation end -->

	<!-- Home start -->
	<section id="home" class="home-section home-parallax home-fade home-full-height bg-dark-30" data-background="">

		<div class="hs-caption">
			<div class="caption-content">
				<!-- <div class="hs-title-size-1 font-alt mb-30">
					West LA's Best Korean Restaurant
				</div> -->
				<div class="hs-title-size-4 font-alt mb-40">
					Welcome to Tofu Ya
				</div>
				<!-- <a href="#menu" class="section-scroll btn btn-border-w btn-round">See our popular dishes</a> -->
				<%= image_tag('tofuya-logo-black.png') %>
			</div>
		</div>

	</section >
	<!-- Home end -->

	<!-- Wrapper start -->
	<div class="main">
		<section id="menu" class="module bg-dark bg-dark-10" data-background="<%= asset_url('overview.jpg')%>">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 btn-dark">
						<h2 class="module-title font-alt mb-0"><b>Popular Dishes</b></h2>
						<h2 class="module-title font-alt mb-0"><b>인기 메뉴</b></h2>
					</div>
				</div>
			</div>
		</section>
		<!-- Menu start -->
		<section class="module">
			<div class="container">
				<hr>
				<div class="row multi-columns-row">
					<% items = Item.where(tag:"favorite").order(:menu_num.asc) %>
					<!-- Restaurant menu left col start -->
					<div class="col-sm-6">
						<% items[0..((items.count-0.5)/2)].each_with_index do |item, index| %>
						<div class="menu">
							<div class="row">
								<div class="col-sm-8">
									<h4 class="menu-title font-alt"><%= item.menu_num %>. <%= item.name %>
									<% item.tag.each do |tag| %>
									<% if tag == "tofu" %> Soon Tofu
									<% elsif tag == "combo" %> Combo
									<% elsif tag == "spicy" %><span class="glyphicon glyphicon-fire">
									<% elsif tag == "veggie" %><span class="vegetarianicon">Ⓥ</span>
									<% end %>
									<% end %></h4>
									<h4 class="menu-title font-alt"><%= item.kname %></h4>
									<div class="menu-detail font-serif"><%= item.description %></div>
								</div>
								<div class="col-sm-4 menu-price-detail">
									<h4 class="menu-price font-alt">$<%= item.price %></h4>
								</div>
							</div>
						</div>
						<% end %>
					</div>
					<!-- Restaurant menu left col end -->
					<!-- Restaurant menu right col start -->
					<div class="col-sm-6">
						<% items[((items.count)/2)..-1].each_with_index do |item, index| %>
						<div class="menu">
							<div class="row">
								<div class="col-sm-8">
									<h4 class="menu-title font-alt"><%= item.menu_num %>. <%= item.name %>
									<% item.tag.each do |tag| %>
									<% if tag == "tofu" %> Soon Tofu
									<% elsif tag == "combo" %> Combo
									<% elsif tag == "spicy" %><span class="glyphicon glyphicon-fire">
									<% elsif tag == "veggie" %><span class="vegetarianicon">Ⓥ</span>
									<% end %>
									<% end %></h4>
									<h4 class="menu-title font-alt"><%= item.kname %></h4>
									<div class="menu-detail font-serif"><%= item.description %></div>
								</div>
								<div class="col-sm-4 menu-price-detail">
									<h4 class="menu-price font-alt">$<%= item.price %></h4>
								</div>
							</div>
						</div>
						<% end %>
					</div>
					<!-- Restaurant menu right col end -->

				</div><!-- .row -->
			</div>
		</section>
		<!-- popular menu end -->


		<!-- Menu header start -->
		<% @categories.each do |category| %>
		<% items = category.items.order(:menu_num.asc) %>
		<section id="<%= category.name.parameterize %>" class="module bg-dark bg-dark-10" data-background="<%= image_url(category.img)%>">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 btn-dark">
						<h2 class="module-title font-alt mb-0"><b><%= category.name%></b></h2>
						<h2 class="module-title font-alt mb-0"><b><%= category.kname%></b></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 btn-dark">
						<div class="alt-module-subtitle">
							<% if !category.description.blank? %>
							<span class="holder-d"></span>
							<h5 class="font-serif"><%= category.description%></h5>
							<span class="holder-d"></span>
							<%end%>
						</div>
					</div>
				</div><!-- .row -->
			</div>
		</section>
		<!-- Menu header end -->

		<!-- Menu start -->
		<section class="module">
			<div class="container">
				<% if ["Soon Tofu Stews", "Soon Tofu Combo Plates"].include? category.name %>
				<div class="row spice-level">
					<div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
						<div class="alt-module-subtitle">
							<span class="holder-w"></span>
							<h5 class="font-serif">Choose your spicy level</h5>
							<span class="holder-w"></span>
						</div>
						<table style="width:100%" class="font-serif">
						  <tr>
						    <td style="width:20%" align="center">plain</td>
						    <td style="width:20%" align="center">mild</td>
						    <td style="width:20%" align="center">medium</td>
						    <td style="width:20%" align="center">spicy</td>
						    <td style="width:20%" align="center">extra spicy</td>
						  </tr>
						  <tr>
						    <td style="width:20%" align="center"><%= image_tag('pepper_o.png', size: "10x21") %></td>
						    <td style="width:20%" align="center"><%= image_tag('pepper.png', size: "10x21") %></td>
						    <td style="width:20%" align="center"><%= image_tag('pepper.png', size: "10x21") %><%= image_tag('pepper.png', size: "10x21") %></td>
						    <td style="width:20%" align="center"><%= image_tag('pepper.png', size: "10x21") %><%= image_tag('pepper.png', size: "10x21") %><%= image_tag('pepper.png', size: "10x21") %></td>
						    <td style="width:20%" align="center"><%= image_tag('pepper.png', size: "10x21") %><%= image_tag('pepper.png', size: "10x21") %><%= image_tag('pepper.png', size: "10x21") %><%= image_tag('pepper.png', size: "10x21") %></td>
						  </tr>
						</table>
					</div>
				</div>
				<% end %>
				<hr>
				<div class="row multi-columns-row">
					<!-- Restaurant menu left col start -->
					<div class="col-sm-6">
						<% items[0..((items.count-0.5)/2)].each_with_index do |item, index| %>
						<div class="menu">


							<div class="row">
								<div class="col-sm-8 col-md-8">
									<h4 class="menu-title font-alt"><%= item.menu_num %>. <%= item.name %>
									<% item.tag.each do |tag| %>
									<% if tag == "favorite" %><span class="fa fa-star">
									<% elsif tag == "spicy" %><span class="glyphicon glyphicon-fire">
									<% elsif tag == "veggie" %><span class="vegetarianicon">Ⓥ</span>
									<% end %>
									<% end %></h4>
									<h4 class="menu-title font-alt"><%= item.kname %></h4>
									<div class="menu-detail font-serif"><%= item.description %></div>
								</div>
								<div class="col-sm-4 col-md-4 menu-price-detail">
									<h4 class="menu-price font-alt">$<%= item.price %></h4>
								</div>
							</div>


						</div>
						<% end %>

					</div>
					<!-- Restaurant menu left col end -->
					<!-- Restaurant menu right col start -->
					<div class="col-sm-6">
						<% items[((items.count-0.5)/2+1)..-1].each_with_index do |item, index| %>

						<div class="menu">


							<div class="row">
								<div class="col-sm-8 col-md-8">
									<h4 class="menu-title font-alt"><%= item.menu_num %>. <%= item.name %>
									<% item.tag.each do |tag| %>
									<% if tag == "favorite" %><span class="fa fa-star">
									<% elsif tag == "spicy" %><span class="glyphicon glyphicon-fire">
									<% elsif tag == "veggie" %><span class="vegetarianicon">Ⓥ</span>
									<% end %>
									<% end %></h4>
									<h4 class="menu-title font-alt"><%= item.kname %></h4>
									<div class="menu-detail font-serif"><%= item.description %></div>
								</div>
								<div class="col-sm-4 col-md-4 menu-price-detail">
									<h4 class="menu-price font-alt">$<%= item.price %></h4>
								</div>
							</div>

						</div>
						<% end %>

					</div>
					<!-- Restaurant menu right col end -->
				</div><!-- .row -->
			</div>
		</section>
		<% end %>
		<!-- Menu end -->

		<!-- Contact start -->
		<section id="contact" class="module-small bg-dark">
			<div class="container">

				<!-- Module header start -->
				<div class="row">

					<div class="col-sm-8 col-sm-offset-2">
						<div class="alt-module-subtitle">
							<span class="holder-w"></span>
							<h5 class="font-serif">Get in touch</h5>
							<span class="holder-w"></span>
						</div>
					</div>

				</div><!-- .row -->

				<div class="row">

					<div class="col-sm-12">
						<h2 class="module-title font-alt">Contact us</h2>
					</div>

				</div><!-- .row -->
				<!-- Module header end -->

				<div class="row">

					<div class="col-sm-8 col-sm-offset-2">

						<form id="contact-form" action="javascript:void(0);" role="form" novalidate="">

							<div class="form-group">
								<label class="sr-only" for="cname">Name</label>
								<input type="text" id="cname" class="form-control" name="Name" placeholder="Name*" required="" data-validation-required-message="Please enter your name.">
								<p class="help-block text-danger"></p>
							</div>

							<div class="form-group">
								<label class="sr-only" for="cemail">Your Email</label>
								<input type="email" id="cemail" name="Email" class="form-control" placeholder="Your E-mail*" required="" data-validation-required-message="Please enter your email address.">
								<p class="help-block text-danger"></p>
							</div>

							<div class="form-group">
								<textarea class="form-control" id="cmessage" name="Message" rows="7" placeholder="Message*" required="" data-validation-required-message="Please enter your message."></textarea>
								<p class="help-block text-danger"></p>
							</div>

							<input type="text" name="_gotcha" style="display:none" />
							<!-- <input type="hidden" name="_next" value="#" /> -->
							<input type="hidden" name="_subject" value="Hello from Tofu Ya website">

							<div class="text-center">
								<button type="submit" class="btn btn-block btn-round btn-d" value="Send">Submit</button>
							</div>

						</form>
					</div>

				</div><!-- .row -->

			</div>
		</section>
		<!-- Contact end -->
		<section id="map-section">
			<div id="map"></div>
		</section>
		<div class="module-small bg-dark">
			<div class="container">

				<div class="row">
					<div class="col-sm-4">
						<div class="widget">
							<h5 class="widget-title font-alt">Contact information</h5>
							<p>Take out: 310 473 2627<br>
							hello@tofuya.la</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="widget">
							<h5 class="widget-title font-alt">Our hours</h5>
							<!-- <span class="icon-clock"></span> -->
							<p>Sun - Th: 11:30 AM - 9:30 PM<br>
							Fri, Sat: 11:30 AM - 10:30 PM<br></p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="widget">
							<h5 class="widget-title font-alt">Where to find us</h5>
							<p>Tofu Ya<br>
							2021 Sawtelle Blvd<br>
							Los Angeles, CA 90025</p>
						</div>
					</div>
				</div><!-- .row -->

			</div>
		</div>
	</div>

<script>

</script>
