<!DOCTYPE html>
<html>
<head>
  <title>Tofu Ya</title>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Tofu Ya Korean restaurant in Los Angeles's westside neighborhood, Japantown Sawtelle">
  <meta name="author" content="Jon and Damien">

  <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Tofu Ya</title>

  <!-- CSS -->
  <link rel="stylesheet" href="http://static.sasongsmat.nu/fonts/vegetarian.css" />

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9968903-14']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>


</head>
<body>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

<!-- Footer start -->
<footer class="footer bg-dark">
  <div class="container">

    <div class="row">

      <div class="col-sm-4">
        <p class="copyright font-alt">© <%= Time.now.year %> <a href="#totop">Tofu Ya</a>, All Rights Reserved.</p>
      </div>

      <div class="col-sm-5">
        <p class="copyright font-alt">Site design by <a href="https://github.com/jtvanlew">Jon Van Lew</a> & <a href="https://github.com/dam13n">Damien Sutevski</a></p>
      </div>

      <div class="col-sm-3">
        <div class="footer-social-links">
          <a href="http://www.yelp.com/biz/tofu-ya-los-angeles"><i class="fa fa-yelp"></i></a>
          <a href="https://foursquare.com/v/tofuya/49e213adf964a520f0611fe3"><i class="fa fa-foursquare"></i></a>
          <a href="https://en.wikipedia.org/wiki/Sundubu_jjigae"><i class="fa fa-wikipedia"></i></a>
        </div>
      </div>

    </div><!-- .row -->

  </div>
</footer>
<!-- Footer end -->

<!-- Scroll-up -->
<div class="scroll-up">
  <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
</div>

</body>
<!-- Javascript files -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-9968903-14', 'auto');
  ga('send', 'pageview');

</script>
</html>


